<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<p>Hallo hier ist eine Testseite.</p>
  <p>Commit 1</p>
  <p>Commit 2</p>
  <p>Commit 3</p>

<router-outlet></router-outlet>
</div>
